#bakerloo-FG {
    color: #AE6118;
  }
  #bakerloo-BG {
    background-color: #AE6118;
  }
  
  #central-FG {
    color: #E41F1F;
  }
  #central-BG {
    background-color: #E41F1F;
  }
  
  #circle-FG {
    color: #F8D42D;
  }
  #circle-BG {
    background-color: #F8D42D;
  }
  
  #district-FG {
    color: #007229;
  }
  #district-BG {
    background-color: #007229;
  }
  
  #dLR-FG {
    color: #00BBB4;
  }
  #dLR-BG {
    background-color: #00BBB4;
  }
  
  #hammersmith-city-FG {
    color: #E899A8;
  }
  #hammersmith-city-BG {
    background-color: #E899A8;
  }
  
  #jubilee-FG {
    color: #686E72;
  }
  #jubilee-BG {
    background-color: #686E72;
  }
  
  #metropolitan-FG {
    color: #893267;
  }
  #metropolitan-BG {
    background-color: #893267;
  }
  
  #northern-FG {
    color: #000000;
  }
  #northern-BG {
    background-color: #000000;
  }
  
  #piccadilly-FG {
    color: #0450A1;
  }
  #piccadilly-BG {
    background-color: #0450A1;
  }
  
  #victoria-FG {
    color: #009FE0;
  }
  #victoria-BG {
    background-color: #009FE0;
  }
  
  #waterloo-city-FG {
    color: #70C3CE;
  }
  #waterloo-city-BG {
    background-color: #70C3CE;
  }
  
  #london-overground-FG {
    color: #FF8600;
  }
  #london-overground-BG {
    background-color: #FF8600;
  }