html, body {
    margin: 0;
    padding: 0;
  }
  canvas {
    display: block;
  }

  label {
    font-size: 1.2em;
    margin-bottom: 10px;
    display: block;
    color: #333;
}

select {
    width: 90%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
    color: #333;
    transition: border-color 0.3s;
}

select:focus {
    border-color: #007bff;
    outline: none;
}

option {
    padding: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

#allTrains {
  display: none;
}

.train-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}

.train {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  margin: 5px;
}
.search-container {
  margin: 20px 0;
  text-align: center;
}

#searchInput {
  width: 80%;
  max-width: 400px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.train .vehicleId,
.train .currentLocation,
.train .destinationName,
.train .timeToStation {
  margin: 5px 0;
}


#na {
  display: none;
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: white;
  background-color: #ff4c4c;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  width: 300px;
}

.status-box {
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.status-description {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.detailed-description {
  font-size: 16px;
  color: #666;
}